@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: "#333333";
  overflow: hidden;
  background-color: #fff;
  font-size: 14px;
  font-family: "Inter";
}

.ant-picker-outlined > .ant-picker-input > input {
  font-family: "OpenSans", sans-serif !important;
  font-weight: 400 !important;
  font-size: 15px;
}

.ant-picker-outlined .ant-picker-input input::placeholder {
  color: #333 !important;
}

.ant-badge-status-dot {
  margin-left: 4px;
  margin-bottom: 2px;
}

.rbc-event {
  display: none !important;
}

.rbc-event-content {
  display: none !important;
}

.rbc-time-gutter .custom-badge-container {
  display: none !important;
}

.rbc-current-time-indicator {
  display: none !important;
}

.rbc-selected-cell {
  background-color: transparent !important;
}

.rbc-day-bg.rbc-selected {
  background-color: transparent !important;
}

.rbc-row-segment .rbc-selected {
  background-color: transparent !important;
}

.ant-select-selector {
  color: #333333 !important;
  background-color: #f5f7fa !important;
  padding: 0rem 0.5rem !important;
  height: auto !important;
  min-height: 41px !important;
  border: 1px solid #e5e7eb !important;
  border-radius: 0.4rem !important;
  width: 100% !important;
  outline: none !important;
  transition: all 0.3s !important;
  font-size: 14px !important;
  display: flex !important;
  align-items: center !important;
}

.ant-select-selection-search-input {
  height: 100% !important;
}

.ant-select-selection-item {
  line-height: 1.5 !important;
  color: #333333 !important;
}

.ant-select-focused .ant-select-selection-item,
.ant-select:focus-within .ant-select-selection-item {
  color: #333333 !important;
}

.ant-select-selection-placeholder {
  color: #333333 !important;
  opacity: 1 !important;
}

.ant-select:hover .ant-select-selector {
  border-color: #d1d5db !important;
}

.ant-select-focused .ant-select-selector,
.ant-select:focus-within .ant-select-selector {
  border-color: #4285f4 !important;
  box-shadow: 0 0 8px rgba(66, 133, 244, 0.15) !important;
}

.ant-select-arrow {
  color: #6b7280 !important;
  padding-top: 2px;
}

.ant-select-dropdown {
  border-radius: 0.5rem !important;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1) !important;
  padding: 0.25rem !important;
}

.ant-select-item {
  border-radius: 0.375rem !important;
  padding: 0.5rem 0.75rem !important;
  margin: 0.125rem 0 !important;
  transition: all 0.2s !important;
  font-size: 14px !important;
}

.ant-select-item-option-active {
  background-color: #f3f4f6 !important;
}

.ant-select-item-option-selected {
  background-color: #f3f4f6 !important;
  color: #333333 !important;
  font-weight: 500 !important;
}

input[type="checkbox"] {
  width: 16px !important;
  height: 16px !important;
  accent-color: #4285f4 !important;
}

input[type="radio"] {
  accent-color: #4285f4 !important;
}
